body{
    margin: 0;
    font-family: sans-serif;
    font-size: 30px;
}
/* Body header */

#Header{
    height: 65vh;
    width: 100%;
    background-image: url(/image/macbook_mouse.jpg);
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* horizontal list */

.horizontal-list{
    list-style: none;
    padding-left: 0;
    margin: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin: 5px 5px 5px 5px;
    font-family: sans-serif;
    margin-top: 1rem;
}

.horizontal-list a{
    text-decoration: none;
    color: aliceblue;
    
}
.nav-menu{
    transition: color 0.3s, border-bottom 0.3s;
}


.nav-menu a:hover{
    color: palevioletred;
    border-bottom: 1px solid palevioletred;
   }

.text-center{
    text-align: center;
}
#main-text{
    font-size: 3rem;
    color: white;
    font-weight: 700;
    margin-top: 5rem;
    letter-spacing: 0.5rem;
}

.Socil-icons li a i{
    padding: 10px;
    font-size: 1 rem;
    border-radius: 50%;
    
}

.Socil-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    color: aliceblue;
    border-bottom: 0px solid white;
    transition: color 0.3s, border-bottom 0.3s;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n){
    background-color: grey ;
}
section:nth-child(2n+1){
    background-color: white ;
}
/* About Section */

#about{
    height: auto;
    width: 100%;
    position: relative;
}

#my-img{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -50px;
    
}

#my-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
    
}

#about-para{
    padding: 10px;
    height: auto;
    width: 70%;
    margin: auto;
    text-align: justify;


}

.text-highlight{
    color: #2857a4;
    font-weight: 600;
}